$borderWidth: 3px;

// Pokemon Type Decorator
.pokemon-type
{
	flex-wrap: nowrap;
	
	div
	{
		margin: 2px 0px;
		color: #FFF;
		vertical-align: middle;
		width: auto;

		border-width: $borderWidth 0px;
		border-style: solid;
		padding: 0.1em 0.2em;
	
		&:first-child
		{
			border-top-left-radius: 0.7em;
			border-bottom-left-radius: 0.7em;
			margin-left: 2;
			border-left-width: $borderWidth;
			padding-left: 0.4em;
		}
		&:last-child
		{
			border-top-right-radius: 0.7em;
			border-bottom-right-radius: 0.7em;
			margin-right: 2px;
			border-right-width: $borderWidth;
			padding-right: 0.4em;
		}
	}
	
	.type-normal
	{
		border-color: #6D6D4E;
		background-color: #A8A878;
	}
	.type-fire
	{
		border-color: #9C531F;
		background-color: #F08030;
	}
	.type-fighting
	{
		border-color: #7D1F1A;
		background-color: #C03028;
	}
	.type-water
	{
		border-color: #445E9C;
		background-color: #6890F0;
	}
	.type-flying
	{
		border-color: #6D5E9C;
		background-color: #A890F0;
	}
	.type-grass
	{
		border-color: #4E8234;
		background-color: #78C850;
	}
	.type-poison
	{
		border-color: #682A68;
		background-color: #A040A0;
	}
	.type-electric
	{
		border-color: #A1871F;
		background-color: #F8D030;
	}
	.type-ground
	{
		border-color: #927D44;
		background-color: #E0C068;
	}
	.type-psychic
	{
		border-color: #A13959;
		background-color: #F85888;
	}
	.type-rock
	{
		border-color: #786824;
		background-color: #B8A038;
	}
	.type-ice
	{
		border-color: #638D8D;
		background-color: #98D8D8;
	}
	.type-bug
	{
		border-color: #6D7815;
		background-color: #A8B820;
	}
	.type-dragon
	{
		border-color: #4924A1;
		background-color: #7038F8;
	}
	.type-ghost
	{
		border-color: #493963;
		background-color: #705898;
	}
	.type-dark
	{
		border-color: #49392F;
		background-color: #705848;
	}
	.type-steel
	{
		border-color: #787887;
		background-color: #B8B8D0;
	}
	.type-fairy
	{
		border-color: #9B6470;
		background-color: #EE99AC;
	}
}